/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Set background color and make the entire body take up the full height */
body {
    background-image: url('../images/index-bg.jpg');
    background-size: cover;
    background-position: center; /* Ensure the background is centered */
    color: #ffffff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 2rem; /* Add padding for smaller screens */
}

/* Center the container and apply styling */
.container {
    background: rgba(14, 3, 56, 0.75); /* Slightly darker semi-transparent background */
    padding: 2.5rem;
    height: 23rem;
    padding-bottom: 1rem;
    border-radius: 12px; /* Softer rounded corners */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7); /* Increase shadow intensity */
}

/* Styling for the Final Countdown heading */
h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: rgb(227, 121, 146); /* Light pinkish color to match the theme */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Slight shadow for depth */
}

/* Styling for the countdown seconds */
#seconds-only {
    font-size: 7.5rem; /* Large text for impact */
    font-weight: bold;
    padding-top: 10px;
    color: #d88e8e; /* Bright red to indicate urgency */
    text-shadow: 3px 3px 25px rgba(255, 0, 0, 0.7); /* Red glow effect */
    animation: pulse 1s infinite; /* Pulsing effect to add drama */
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #0c0221;
  }
  .credits a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .credits a:hover {
    text-decoration: underline;
  }

/* Pulsing effect animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
